model_config_list:{

    config: {
     name: "keypoint",
     base_path: "/content/drive/My Drive/facial-keypoints-detection/model/",
     model_platform: "tensorflow",
     }
    config: {
     name: "emotion",
     base_path: "/content/drive/My Drive/facial-keypoints-detection/model_2/",
     model_platform: "tensorflow",
     }
     
  }